.main{
    text-align : center;
    padding:20px;
    background-color: #a14af6;
}
.child{
    font-size: 24px;
    margin-Right : 15px;
}
.subList{
    list-style-type: none;
    width: 340px;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
    font-size: 24px;
    background-color: #d2b1f6;
    margin: auto;
    margin-top: 15px;
    color: #a663e9;

}
.subList:hover {
    /* background-color: #bd88f3; */
    outline: 2px solid#be89f8;
    box-shadow: 3px 3px 7px #696d6d;
} 

.list{
    padding: 0;
}
button , input{
    background-color: #d8c0f8;
    color: #9e47f4;
    padding: 3px;
}
input{
    
}